<div class="container-fluid mt-4 px-4">
    <div class="row h-100">
        <ng-container *ngIf="cartPayload.getTotalItemNumber(); else noitems">
            <table mat-table [dataSource]="dataSource" class="col-lg-9 mat-elevation-z8">
                <ng-container matColumnDef="counter">
                    <td mat-cell *matCellDef="let element">
                        <button mat-mini-fab color="primary" [disabled]="true" aria-label="Example icon button with a menu icon">
                            {{(element | asType: CartItemModel).quantity}}
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="routeProvider.get('shop:product:detail', {id: (element | asType: CartItemModel).product.id})">
                            <img src="{{(element | asType: CartItemModel).product.imageUrl}}" alt="">
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex gap-3">
                            <button (click)="decreaseItemQuantity(element)" mat-mini-fab color="primary"
                                    aria-label="Example icon button with a menu icon">
                                <mat-icon>remove</mat-icon>
                            </button>

                            <button (click)="increaseItemQuantity(element)" mat-mini-fab color="primary"
                                    aria-label="Example icon button with a menu icon">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <td mat-cell *matCellDef="let element">
                        <div>{{cartPayload.getTotalItemPrice((element | asType: CartItemModel))}} EUR.</div>
                        <div class="fs-text-small text-grey">{{(element | asType: CartItemModel).product.price}} eur. (unité)</div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action:remove">
                    <td mat-cell *matCellDef="let element">
                        <button (click)="removeItem(element)" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            </table>

            <div class="col-lg-3 mt-3 mt-lg-0 px-0 px-lg-3">
                <div class="sticky-lg-top top-20">
                    <mat-card>
                        <mat-card-header class="justify-content-center">
                            <mat-card-title>Coupon de réduction</mat-card-title>
                        </mat-card-header>

                        <mat-card-content class="mt-3">
                            <form class="example-form">
                                <mat-form-field class="w-100">
                                    <mat-label>Coupon</mat-label>
                                    <input matInput value="">
                                </mat-form-field>

                                <div class="d-flex justify-content-center">
                                    <button mat-flat-button color="primary">Appliquer</button>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="mt-2">
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <div matListItemTitle class="d-flex justify-content-between">
                                        <span>Produits</span>
                                        <span>{{cartPayload.getTotalPrice()}} Eur.</span>
                                    </div>
                                </mat-list-item>

                                <mat-divider></mat-divider>

                                <mat-list-item>
                                    <div matListItemTitle class="d-flex justify-content-between">
                                        <span class="fs-6">Total</span>
                                        <span class="fs-6">{{cartPayload.getTotalPrice()}} Eur.</span>
                                    </div>
                                </mat-list-item>
                            </mat-list>

                            <div class="d-flex justify-content-center">
                                <a [routerLink]="routeProvider.get('checkout:index')" mat-flat-button color="primary">Procéder au paiement</a>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </ng-container>

        <ng-template #noitems>
            <alert color="warning" message="Aucun produit dans le panier"></alert>
        </ng-template>
    </div>
</div>
