<mat-card>
    <mat-card-header>
        <mat-card-title>Information Personnel</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-md-6">Prénom: {{user.firstname}}</div>
            <div class="col-md-6">Nom: {{user.lastname}}</div>
            <div class="col-md-6">Email: {{user.email}}</div>
            <div class="col-md-6">Téléphone: {{user.phone}}</div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Information de livraison</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-md-6">Adresse: {{user.deliveryAddress.address}}</div>
            <div class="col-md-6">Pays: {{user.deliveryAddress.country}}</div>
            <div class="col-md-6">Ville: {{user.deliveryAddress.city}}</div>
            <div class="col-md-6">Code postal: {{user.deliveryAddress.postalCode}}</div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Information de facturation</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-md-6">Adresse: {{user.billingAddress.address}}</div>
            <div class="col-md-6">Pays: {{user.billingAddress.country}}</div>
            <div class="col-md-6">Ville: {{user.billingAddress.city}}</div>
            <div class="col-md-6">Code postal: {{user.billingAddress.postalCode}}</div>
        </div>
    </mat-card-content>
</mat-card>

<button mat-raised-button color="primary" *ngIf="auth.isLoggedIn" (click)="updateUserInfo()">Sauvegarder les informations ?</button>
