<div class="container p-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 g-4">
        <div *ngFor="let product of products" class="col">
            <div class="--card">
                <a href="/shop/product/{{product.id}}" class="card-header" [attr.data-text]="product.brand.name">
                    <img [src]="product.imageUrl" alt="">
                    <span *ngIf="product.isNew" class="tag">NEW</span>
                </a>

                <div class="card-body">
                    <div class="branding d-flex align-items-center justify-content-between">
                        <div>
                            <div class="fs-text-large">{{product.brand.name}}</div>
                            <div class="fs-text-small text-grey fw-500" *ngIf="product.collection">{{product.collection.name}}</div>
                        </div>

                        <div class="d-flex align-items-center me-3">
                            <star-rating class="d-inline-block" [showHalfStars]="true" [step]="0.5" [rating]="3.15" [readOnly]="true"></star-rating>
                            <span class="d-inline-block">({{product.rating.length}})</span>
                        </div>
                    </div>

                    <form action="" class="mt-4">
                        <div class="attr attr-hover hover-background">
                            <h6>Taille</h6>
                            <div class="d-flex">
                                <span>S</span>
                                <span>M</span>
                                <span>L</span>
                                <span>XL</span>
                            </div>
                        </div>

                        <div class="attr attr-small attr-hover hover-scale">
                            <h6>Couleur</h6>
                            <div class="d-flex">
                                <span style="background: red"></span>
                                <span style="background: green"></span>
                                <span style="background: blue"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-4">
                            <button class="--btn-small --btn-primary">{{product.price}} EUR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>