<div>
    <h1 mat-dialog-title>Création de mon compte</h1>

    <div mat-dialog-content>
        <div>
            <div>
                <h6>Informations personnelles</h6>

                <div class="mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Prénom</mat-label>
                                <input matInput [value]="data.user.firstname" [disabled]="true">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Nom</mat-label>
                                <input matInput [value]="data.user.lastname" [disabled]="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Téléphone</mat-label>
                                <input matInput [value]="data.user.phone" [disabled]="true">
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput [value]="data.user.email" [disabled]="true">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h6>Adresse de livraison</h6>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Adresse</mat-label>
                            <input matInput [value]="data.user.deliveryAddress.address" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Code Postal</mat-label>
                            <input matInput [value]="data.user.deliveryAddress.postalCode" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Ville</mat-label>
                            <input matInput [value]="data.user.deliveryAddress.city" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Pays</mat-label>
                            <input matInput [value]="data.user.deliveryAddress.country" [disabled]="true">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <h6>Adresse de facturation</h6>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Adresse</mat-label>
                            <input matInput [value]="data.user.billingAddress.address" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Code Postal</mat-label>
                            <input matInput [value]="data.user.billingAddress.postalCode" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Ville</mat-label>
                            <input matInput [value]="data.user.billingAddress.city" [disabled]="true">
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <mat-form-field appearance="fill">
                            <mat-label>Pays</mat-label>
                            <input matInput [value]="data.user.billingAddress.country" [disabled]="true">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>

        <form action="" class="mt-2" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Mot de passe</mat-label>
                            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field appearance="outline" [class.mat-form-field-invalid]="form.errors?.['mismatch']">
                            <mat-label>Confirmation mot de passe</mat-label>
                            <input matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                                <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="confirmPassword.hasError('mismatch')">
                                La confirmation du mot de passe n'est pas identique.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col">
                        <app-loader message="Création en cours" *ngIf="loading"></app-loader>
                        <button mat-raised-button color="accent" type="submit" [disabled]="loading">Créer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
