:host {
    width: 100%;

    .alert {
        width: 100%;
        padding: 15px 20px;
        color: white
    }

    .alert-warning {
        background: var(--warning);
    }

    .alert-info {
        background: var(--info);
    }

    .alert-success {
        background: var(--success);
    }

    .alert-error {
        background: var(--error);
    }
}

