<form action="" class="--form mt-4" #easyAddProductForm="ngForm">
    <div>
        <h6>Taille</h6>
        <div class="d-flex --radio-group">
            <label for="{{product.id}}-{{attr.name}}" *ngFor="let attr of productService.getProductAttrsByCategoryName(product, 'Taille')">
                <input type="radio" name="attrSize" id="{{product.id}}-{{attr.name}}" value="{{attr.value}}" />
                <span>{{attr.name}}</span>
            </label>
        </div>
    </div>

    <div>
        <h6>Couleur</h6>
        <div class="d-flex --radio-group --radio-color">
            <label for="{{product.id}}-{{attr.name}}" *ngFor="let attr of productService.getProductAttrsByCategoryName(product, 'Couleur')">
                <input type="radio" name="attrColor" id="{{product.id}}-{{attr.name}}" value="{{attr.value}}" />
                <span [style.background]="attr.value"></span>
            </label>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <button type="submit" class="--btn-small --btn-primary">Ajouter au panier</button>
    </div>
</form>