<div class="container-fluid d-flex flex-column align-items-center p-0">
    <c-alert *ngIf="info" [color]="info.color" message="{{info.message}}"></c-alert>

     <section>
        <h1>Connexion</h1>

        <div class="row mt-4">
            <form action="" class="text-center" #loginForm="ngForm" (ngSubmit)="login()">
                <mat-form-field appearance="fill">
                    <mat-label>email</mat-label>
                    <input matInput [(ngModel)]="email" name="email">
                    <mat-icon matPrefix>alternate_email</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput [(ngModel)]="password" name="password">
                    <mat-icon matPrefix>lock</mat-icon>
                </mat-form-field>

                <button type="submit" mat-raised-button color="primary" *ngIf="!auth.isLoggedIn">Se connecter</button>
                <button (click)="logout()" mat-raised-button color="primary" *ngIf="auth.isLoggedIn">Se déconnecter</button>
            </form>

        </div>
    </section>
</div>