<mat-drawer-container autosize hasBackdrop="true" class="h-100">
    <mat-drawer #drawer class="drawer" mode="over">
        Drawer
    </mat-drawer>

    <mat-toolbar class="header">
        <mat-toolbar-row>
            <button mat-icon-button (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{ title }}</span>
            <span class="spacer"></span>
            <a mat-button class="app__user" href="{{routeProvider.get('user:account')}}">
                <mat-icon >person</mat-icon>
                <span class="d-none d-lg-inline ps-lg-2">Nom Utilisateur</span>
            </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <nav mat-tab-nav-bar [tabPanel]="tabPanel">
                <a mat-tab-link routerLinkActive="active" routerLink="{{routeProvider.get('app:home')}}">Accueil</a>
                <a mat-tab-link routerLinkActive="active" routerLink="{{routeProvider.get('shop:product:list')}}">Magasin</a>
                <span class="spacer"></span>
                <a mat-tab-link routerLinkActive="active" routerLink="{{routeProvider.get('app:cart:detail')}}" class="cart__bag">
                    <div>
                        <mat-icon>shopping_bag</mat-icon>
                        <span class="bag__counter">{{cartService.getTotalProductNumber()}}</span>
                    </div>
                    <span class="cart__total ps-2 me-1">{{cartService.getTotal() | number: '1.2'}}</span> EUR
                </a>
            </nav>
            <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
        </mat-toolbar-row>
    </mat-toolbar>

    <main>
        <router-outlet></router-outlet>
    </main>
</mat-drawer-container>


