<div class="container-fluid h-100">
    <mat-stepper (selectionChange)="onStepChanged($event)" orientation="vertical" linear #stepper class="h-100">
        <mat-step label="userData" [editable]="true" #userDataStep [completed]="stepsValidity[userDataStep.label]">
            <ng-template matStepLabel>Information personnel</ng-template>

            <app-user-data-form-step
                    [(user)]="user"
                    title="Information Personnel"
                    (valid)="onValidateStep(userDataStep.label, $event)">
            </app-user-data-form-step>

            <div>
                <button mat-button
                        [disabled]="!stepsValidity[userDataStep.label]"
                        matStepperNext>
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step label="deliveryData" #deliveryDataStep [editable]="stepsValidity[userDataStep.label]" [completed]="stepsValidity[deliveryDataStep.label]">
            <ng-template matStepLabel>Information de livraison</ng-template>

            <app-delivery-data-form-step
                    [(user)]="user"
                    title="Information de livraison"
                    (valid)="onValidateStep(deliveryDataStep.label, $event)">
            </app-delivery-data-form-step>

            <div>
                <button mat-button
                        [disabled]="!stepsValidity[deliveryDataStep.label]"
                        matStepperNext>
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step label="billingData" #billingDataStep [editable]="stepsValidity[deliveryDataStep.label]" [completed]="stepsValidity[billingDataStep.label]">
            <ng-template matStepLabel>Information de facturation</ng-template>

            <app-billing-data-form-step
                    [(user)]="user"
                    title="Information de facturation"
                    (valid)="onValidateStep(billingDataStep.label, $event)">
            </app-billing-data-form-step>

            <div>
                <button mat-button
                        [disabled]="!stepsValidity[billingDataStep.label]"
                        matStepperNext>
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step label="orderSummary" #orderSummary [editable]="stepsValidity[billingDataStep.label]" [completed]="stepsValidity[orderSummary.label]">
            <ng-template matStepLabel>Récapitulatif</ng-template>

            <app-order-summary-step (valid)="onValidateStep(orderSummary.label, $event)" [user]="user"></app-order-summary-step>

            <div>
                <button mat-button matStepperNext [disabled]="!stepsValidity[orderSummary.label]">Next</button>
            </div>
        </mat-step>

        <mat-step label="payment" #paymentStep [editable]="stepsValidity[orderSummary.label]" [completed]="false">
                <ng-template matStepLabel>Paiement</ng-template>

                <app-payment-step
                        [label]="paymentStep.label"
                        [activeLabel]="activeLabel"
                        [user]="user"
                        (orderComplete)="onOrderComplete($event)">
                </app-payment-step>
            </mat-step>
    </mat-stepper>
</div>
