<div class="container-fluid h-100">
    <mat-stepper (selectionChange)="onStepChanged($event)" orientation="vertical" linear #stepper class="h-100">
        <mat-step label="userData" [editable]="true" #userDataStep>
            <ng-template matStepLabel>Information personnel</ng-template>

            <app-user-data-form-step
                    [(user)]="user"
                    title="Information Personnel"
                    (valid)="onValidateStep(userDataStep.label, $event)">
            </app-user-data-form-step>

            <div>
                <button mat-button
                        [disabled]="!stepsValidity[userDataStep.label]"
                        matStepperNext>
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step label="deliveryData" #deliveryDataStep [editable]="true">
            <ng-template matStepLabel>Information de livraison</ng-template>

            <app-delivery-data-form-step
                    [(user)]="user"
                    title="Information de livraison"
                    (valid)="onValidateStep(deliveryDataStep.label, $event)">
            </app-delivery-data-form-step>

            <div>
                <button mat-button
                        [disabled]="!stepsValidity[deliveryDataStep.label]"
                        matStepperNext>
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step label="billingData" #billingDataStep [editable]="true">
            <ng-template matStepLabel>Information de facturation</ng-template>

            <app-billing-data-form-step
                    [(user)]="user"
                    title="Information de facturation"
                    (valid)="onValidateStep(billingDataStep.label, $event)">
            </app-billing-data-form-step>

            <div>
                <button mat-button
                        [disabled]="!stepsValidity[billingDataStep.label]"
                        matStepperNext>
                    Next
                </button>
            </div>
        </mat-step>

        <mat-step label="orderSummary" [editable]="true">
            <ng-template matStepLabel>Récapitulatif</ng-template>

            <app-order-summary-step [user]="user"></app-order-summary-step>

            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step label="payment" #paymentStep [editable]="true">
            <ng-template matStepLabel>Paiement</ng-template>

            <app-payment-step
                    [label]="paymentStep.label"
                    [activeLabel]="activeLabel"
                    [user]="user"
                    (orderComplete)="onOrderComplete($event)">
            </app-payment-step>
        </mat-step>

        <mat-step label="orderComplete" #orderCompmleteStep>
            <ng-template matStepLabel>Done</ng-template>

            <app-order-success-step
                    [label]="orderCompmleteStep.label"
                    [activeLabel]="activeLabel"
                    [order]="order">
            </app-order-success-step>

            <div>
                <button mat-button (click)="onShop()">go Shop</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
