<div class="container-fluid g-0" *ngIf="product else product404">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <img id="image" class="img-fluid" [src]="product.imageUrl" alt="">
        </div>

        <div class="col-md-6 px-5 mt-4">
            <div class="d-flex flex-column gap-0 mt-4 align-items-center align-items-md-start">
                <div class="text-grey">Marque: {{ product.brand.name }}</div>
                <h3 class="fw-500">{{ product.name }}</h3>
            </div>

            <div class="divider my-5"></div>

            <div class="d-flex align-items-center justify-content-between fw-bold">
                <div class="text-tertiary fs-text-large">{{ product.price }} EUR</div>
                <div class="fs-text-small text-success" *ngIf="product.available else unavailable">En stock</div>
                <ng-template #unavailable>
                    <div class="text-small text-error">En stock</div>
                </ng-template>
            </div>

            <form action="" class="--form d-flex flex-column mt-4 gap-2 py-4">
                <div class="input-field col">
                    <select>
                        <option value="" selected>Sélectionnez la taille</option>
                        <option *ngFor="let attr of sizeAttrs" [value]="attr.value">{{attr.name}}</option>
                    </select>
                    <label>Taille</label>
                </div>

                <div class="input-field col">
                    <select>
                        <option value="" selected>Sélectionnez la couleur</option>
                        <option *ngFor="let attr of colorAttrs" [value]="attr.value">{{attr.name}}</option>
                    </select>
                    <label>Couleur</label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="--btn --btn-primary">Ajouter au panier</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row bg-grey-extralight p-5 gap-5">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-uppercase text-center text-md-end pe-2 fw-bold text-large">Description</div>
                </div>
                <div class="col-md-9 px-4 mt-4 mt-md-0">
                    {{ product.description }}
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-uppercase text-center text-md-end pe-2 fw-bold text-large">Spécifications
                    </div>
                </div>
                <div class="col-md-9 px-4 mt-4 mt-md-0">
                    <table class="table striped">
                        <tbody>
                            <tr>
                                <td class="d-flex">
                                    <div class="col fw-bold">Marque:</div>
                                    <div class="col">{{ product.brand.name }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-flex">
                                    <div class="col fw-bold">Categorie:</div>
                                    <div class="col">{{ product.category.name }}</div>
                                </td>
                            </tr>
                            <tr *ngIf="product.collection">
                                <td class="d-flex">
                                    <div class="col fw-bold">Collection:</div>
                                    <div class="col">{{ product.collection.name }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="d-flex">
                                    <div class="col fw-bold">Poids:</div>
                                    <div class="col">{{ product.weight }} Kg</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #product404>
    Aucun Produit.
</ng-template>