
$rating-star-color: var(--tertiary);

$card-tag-background-color: var(--secondary);
$card-size-hover-color: var(--secondary);

$color-vars: (
        "primary",
        "secondary",
        "tertiary",
        "default",
        "white",
        "grey-extralight-plus",
        "grey-extralight",
        "grey-light",
        "grey",
        "grey-dark",
        "black-extralight",
        "black-light",
        "black",
        "dark",
        "success",
        "error",
        "warning",
        "info"
);